<div>
    <app-menu />
    <h3>Request List</h3>

    <main>
        <a routerLink="/request/create">Create New</a>
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Justification</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Username</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let request of requests">
                    <td>{{ request.id }}</td>
                    <td>{{ request.description }}</td>
                    <td>{{ request.justification }}</td>
                    <td>{{ request.status }}</td>
                    <td>{{ request.total | currency}}</td>
                    <td>{{ request.user?.username }}</td>
                    <td>
                        <a routerLink="/request/view/{{ request.id }}">View</a>
                        <span> | </span>
                        <a routerLink="/request/change/{{ request.id }}">Change</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</div>